<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dominican University 3D Printing Lab</title>
    <link type="text/css" rel="stylesheet" href="Bstyle.css">
  </head>
  <body>
    <header>
    <img src="https://i.imgur.com/dqVlkoO.jpg" alt="Dominican 3D printing lab banner">
  </header>
  <nav>
    <h2 class="nav"><a href="index.html">Home</a> | <a href="tutorial.html">Tutorial</a> | <a href="faq.html">FAQ</a> | <a href="appointment.html">Appointment</a> | <a href="faculty.html">Faculty</a></h2>
  </nav>

    <div class="content">
      {{ content }}
    </div>

    <footer>
       <h3 class="footer">Media Center Hours</h3>
       <p class="footer">M-TH 8am-7pm<br>
   			FR 8am-4pm<br>
   			SA 10am-4pm<br>
   			SU 10am-7pm<br>
         Contact Us: Phone 708-524-6875<br>
   			Text 708-315-6403<br>
   			Email <a href="mailto:reference@dom.edu">reference@dom.edu</a></p>
       <p class="copyright">Copyright Information. LIS786 Group B: April, Danielle, Karla, Katherine. Dominican University. 2018. Last updated March 2018.</p>
     </footer>
  </body>
</html>
